<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All URLS</title>
    <link rel="stylesheet" href="/stylesheets/all.css" />
  </head>
  <body>
    <div class="wrapper">
      <table>
        <tr>
          <th>Short Id</th>
          <th>Original URL</th>
        </tr>
        <% urls.forEach(({shortId, redirectURL}) => { %>
        <tr>
          <td><%= shortId %></td>
          <td><%= redirectURL.slice(0, 20) %>...</td>
        </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
